<parallax-page [config]="{sectionHeight:'500vh',debug:false,sectionFadeIn:true,sectionFadeOut:true}">
  <parallax-section>
    <div class="box" style="position:fixed;width:100vw;height:100vh;top:0;left:0" [ParallaxAnimate]="{animations:[
      {
        cssProperty:'backgroundColor',
        startValue:'#00000',
        endValue:'#ff0000'
      }
    ]}">
      </div>
    <h1 [ParallaxAnimate]="{animations:[{cssProperty:'fontSize',startValue:1,endValue:3,units:'em'},{cssProperty:'color',startValue:'#ffffff',endValue:'#000000'}]}">section 1 : color, fontSize, and negative scroll</h1>
    <div class="text" style="position:fixed" [ParallaxScroll]="{origin:{left:0,top:50},scrollMultiplier:-0.05}">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi blandit enim vestibulum, ornare enim non, iaculis nulla. Pellentesque lobortis varius nisl

      sit amet tincidunt. Donec tempus sit amet magna eu scelerisque. Nulla rutrum, massa a accumsan rhoncus, arcu augue eleifend ligula, ut pretium magna arcu ut ipsum.

      Pellentesque ullamcorper felis sit amet nibh elementum, ac maximus nulla bibendum. Donec leo ex, fermentum et lorem quis, dignissim efficitur ligula. Integer condimentum

      ultrices lacus vel iaculis. Aenean leo turpis, vulputate id elementum et, tincidunt vel quam. Nulla suscipit varius libero. Etiam at iaculis tortor,

      a tempus urna. Maecenas eu libero nisi. In ligula erat, dapibus vitae nulla at, semper ultricies ante. Sed luctus enim at lacinia luctus.
    </div>

  </parallax-section>
  <parallax-section>
    <img src="assets/images/clouds.jpg" style="width:200vw;position:fixed" [ParallaxScroll]="{origin:{left:0,top:0},scrollMultiplier:0.05,leftDrift:0}"/>
    <div style="height:300vh;width:150vw;background:url(assets/images/birds.png) repeat;position:fixed" [ParallaxScroll]="{origin:{left:-500,top:-700},scrollMultiplier:-0.1,leftMovement:300}"></div>
    <h1>section 2 : two layers scrolling, one scrolling with 'leftMovement'</h1>
  </parallax-section>
  <parallax-section><h1>section 3 : square fades-out starting at 0.25 and 0.5  of scroll</h1>
    <div style="position:fixed;top:6em;left:100px;width:200px;height:200px;background-color:#336699" [ParallaxAnimate]="{
      animations:[
        {cssProperty:'opacity',startValue:1,endValue:0,startAt:0.25,easing:'linear'}
      ]
    }"></div>
    <div style="position:fixed;top:6em;left:400px;width:200px;height:200px;background-color:#336699" [ParallaxAnimate]="{
      animations:[
        {cssProperty:'opacity',startValue:1,endValue:0,startAt:0.5,easing:'linear'}
      ]
    }"></div>
  </parallax-section>
  <parallax-section [sectionHeight]="'600vh'"><h1>section 4:easing examples</h1>
  <div style="position:fixed;height:50px;top:100px;left:100px;background:red;" [ParallaxAnimate]="{animations:[{cssProperty:'left',startValue:100,endValue:500,units:'px',easing:'linear',startAt:0.25,endAt:0.75}]}">Linear</div>
    <div style="position:fixed;height:50px;top:160px;left:100px;background:red;" [ParallaxAnimate]="{animations:[{cssProperty:'left',startValue:100,endValue:500,units:'px',easing:'easeIn',startAt:0.25,endAt:0.75}]}">Ease In</div>
    <div style="position:fixed;height:50px;top:220px;left:100px;background:red;" [ParallaxAnimate]="{animations:[{cssProperty:'left',startValue:100,endValue:500,units:'px',easing:'easeOut',startAt:0.25,endAt:0.75}]}">Ease Out</div>
    <div style="position:fixed;height:50px;top:280px;left:100px;background:red;" [ParallaxAnimate]="{animations:[{cssProperty:'left',startValue:100,endValue:500,units:'px',easing:'easeInOut',startAt:0.25,endAt:0.75}]}">Ease In Out</div>
  </parallax-section>
  <parallax-section><h1>section 5</h1></parallax-section>
  <parallax-section><h1>section 6</h1></parallax-section>
</parallax-page>
