/* You can add global styles to this file, and also import other style files */
body{
  padding:0;
  margin:0;
}
.parallax-section{
  display:block;
  background:transparent;
  visibility:hidden;
  position:relative;
}
.parallax-debug .parallax-section{
  background:#999;
  color:#fff;
  border:1px solid #c00;
}
.parallax-section h1{
  position:fixed;
  top:1em;
  left:1em;
  color:#99ccee;
}
*[hidden]{
  display:none!important;
}

.clouds{
  width:100vw;position:fixed;
}

.text{
  font:24px/30px sans-serif;
  color:#667744;
  width:50%;
  margin-left:30%;
}